.pageAnimate {
   animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s; /* Firefox */
  -webkit-animation: fadeIn 0.7s; /* Safari and Chrome */
  -o-animation: fadeIn 0.7s; /* Opera */
}

.linkAnimate {
   animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s; /* Firefox */
  -webkit-animation: fadeInUp 1s; /* Safari and Chrome */
  -o-animation: fadeInUp 1s; /* Opera */
}

.animate2s {
	 animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s; /* Firefox */
  -webkit-animation: fadeInUp 1s; /* Safari and Chrome */
  -o-animation: fadeInUp 1s; /* Opera */
}

.animate3s {
	 animation: fadeInUp 1.8s;
  -moz-animation: fadeInUp 1.8s; /* Firefox */
  -webkit-animation: fadeInUp 1.8s; /* Safari and Chrome */
  -o-animation: fadeInUp 1.8s; /* Opera */
}

.animate4s {
	 animation: fadeInUp 2.5s;
  -moz-animation: fadeInUp 2.5s; /* Firefox */
  -webkit-animation: fadeInUp 2.5s; /* Safari and Chrome */
  -o-animation: fadeInUp 2.5s; /* Opera */
}