  <div class="socialLinks linkAnimate">
    <a target="_blank" href="https://www.instagram.com/scribbleguy/">
      <i class="fo fo-instagram"></i>
    </a>
    <a target="_blank" href="https://in.linkedin.com/in/muthukrishnan-k-2595323b">
      <i class="fo fo-linkedin"></i>
    </a>
    <a target="_blank" href="https://github.com/mutukrish">
      <i class="fo fo-github"></i>
    </a>
    <a target="_blank" href="http://codepen.io/mutukrish/">
      <i class="fo fo-codepen"></i>
    </a>
  </div>