<div ng-controller="skillController">
	<div class="breather">
		<div class="pHeader skills linkAnimate">
			<h3>Technical Skills</h3>
			<H4>What i'm good at</H4>
		</div>
		<div class="subSection animate2s">
			<h5 class="sectionHeader">
				Coding -
				<a class="btn btn-primary btn-sm" ng-click="toggleGraph()">
					<i class="fo fo-presentation"></i>
				</a>
			</h5>
			<div class="tags" ng-if="!interactiveMode">
				<ul class="unstyled clearfix">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Javascript</li>
					<li>Angular js</li>
					<li>React js</li>
					<li>Sass</li>
				</ul>
			</div>
			<div ng-if="interactiveMode">
					<div class="get">
					<div class="arc">
						<span class="text">JavaScript</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#97BE0D" />
					</div>
					<div class="arc">
						<span class="text">CSS3</span>
						<input type="hidden" class="percent" value="95" />
						<input type="hidden" class="color" value="#D84F5F" />
					</div>
					<div class="arc">
						<span class="text">HTML5</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#88B8E6" />
					</div>
					<div class="arc">
						<span class="text">Angular js</span>
						<input type="hidden" class="percent" value="80" />
						<input type="hidden" class="color" value="#BEDBE9" />
					</div>
					<div class="arc">
						<span class="text">React js</span>
						<input type="hidden" class="percent" value="80" />
						<input type="hidden" class="color" value="#EDEBEE" />
					</div>
				</div>
				<div id="diagram" class="pageAnimate center"></div>
			</div>
		</div>
		<div class="subSection animate3s">
			<h5 class="sectionHeader">
				Workflow -
			</h5>
			<div class="tags">
				<ul class="unstyled clearfix">
					<li>Gulp</li>
					<li>Grunt</li>
					<li>Bower</li>
					<li>Npm</li>
					<li>Github</li>
					<li>Sass</li>
				</ul>
			</div>
		</div>
		<div class="subSection animate4s">
			<h5 class="sectionHeader">
				Tools -
			</h5>
			<div class="tags">
				<ul class="unstyled clearfix">
					<li>Gulp</li>
					<li>Grunt</li>
					<li>Bower</li>
					<li>Npm</li>
					<li>Github</li>
					<li>Sass</li>
				</ul>
			</div>
		</div>

	</div>
</div>